html {
  
  background-size: contain;
  background-image: url(../images/brickwall.jpg);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  min-height: 1000px;
  font-family: "Segoe UI", Arial, sans-serif;;
}

body {
  background-color: transparent;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #46473E;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #46473E;
  -moz-text-decoration-color: #46473E;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #46473E;
  color: #fff;
  font-size: 30px;
  padding: 4px 6px 6px 6px ;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #46473E;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  position:fixed;
  bottom: 0px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  

} 
